node_modules
.output
.nitro
.vinxi
.tanstack
.git
.github/
.vscode/
.env
.env.example
*.md
lefthook.yml
.oxlintrc.json
.oxfmtrc.json
docker-compose.yaml
Dockerfile
data
docs
scratch
playwright.config.*
vitest.config.ts
drizzle.config.ts
tests
coverage
test-results
playwright-report
